@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.view-all {
  min-width: 342px;
  height: 215px;
  background: var(--bs-tertiary-bg);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-primary);
}
