@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.forgot-password {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .accent {
    position: fixed;
    width: 90%;
    height: 90%;
    border-radius: 875px;
    opacity: 0.9;
    background: var(--bs-auth-bg);
    filter: blur(250px);
    z-index: -1;

    &.left {
      top: -50%;
      left: -50%;
    }

    &.right {
      bottom: -50%;
      right: -50%;
    }
  }

  .col-md-6 {
    min-width: 32vw;
  }

  .description {
    color: var(--bs-body-color);
    text-align: center;
  }

  .code-input {
    width: 430px !important;

    &.has-errors {
      input {
        border: 1px solid var(--bs-danger);
      }
    }

    > div {
      display: flex;
      width: 430px;
      justify-content: space-between;

      input {
        width: 60px !important;
        height: 60px !important;
        border: 1px solid var(--bs-border-color);
        border-radius: 8px;
        font-family: inherit;
        text-transform: uppercase;
        color: var(--bs-body-color);
      }
    }
  }

  .verification-error {
    color: var(--bs-danger);
    font-size: 14px;
    text-decoration: underline;
    margin-top: 5px;
    font-weight: 600;
  }

  @include media-breakpoint-down(md) {
    .code-input {
      width: 400px;
      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: center;
        width: 100% !important;
        margin: 0 auto;
    }

      > div {
        width: 400px;

        @include media-breakpoint-down(sm) {
          display: flex;
          justify-content: space-between;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0;
          width: 100%;
        }
        input {
          width: 55px !important;
          height: 55px !important;
          @include media-breakpoint-down(sm) {
              flex-grow: 1;
              flex-shrink: 1;
              flex-basis: 0;
              max-width: 55px;
              width: 100%;
              text-align: center;
          }
        }
      }
    }
  }
}