@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.custom-delete-modal {
  height: 100vh;
  display: flex;
  max-width: 650px;

  .modal-content {
    margin: auto;
    padding: 32px;

    .modal-header {
      padding: 0;

      h2 {
        margin-bottom: 0;
      }
    }

    .modal-body {
      padding: 0;
      margin-top: 42px;

      .action-button {
        display: flex;
        gap: 24px;
        align-items: center;
        padding-top: 0;
        width: 100%;
        margin-top: 40px;

        .btn {
          width: 100%;
        }

        .confirm_btn {
          color: white;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .modal-content {
      padding: 16px;

      .modal-body {
        margin-top: 20px;

        .action-button {
          gap: 12px;
        }
      }
    }
  }
}