.password-tab {
  .input-group {
    &:has(.form-control:not(:placeholder-shown)), &:has(.form-control:focus) {
      > .input-group-text:first-child {
        svg {
          transform: translateY(0.5rem);
        }
      }
    }

    > .form-floating {
      .form-control:not(:placeholder-shown) ~ label, .form-control:focus ~ label {
        transform: scale(0.85) translateY(-0.75rem) translateX(-2rem);
      }
      .form-control:not(:placeholder-shown) ~ .input-group-text, .form-control:focus ~ label {
        transform: scale(0.85) translateY(-0.75rem) translateX(-2rem);
      }

      > label {
        padding-left: 0;
      }
    }

    .form-control {
      padding-left: 0;
      border-left: 0;
    }
  }

  .input-group-text:first-child {
    align-items: flex-start;
    padding-top: 18px;
  }
}
