@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.ad-bc-date-input {
  .input-group {
    .form-floating {
      input[disabled] {
        background: var(--bs-body-bg);
        border: 1px solid var(--bs-disabled-bg);
      }
    }
  }
  .react-select--is-disabled {
    border-radius: 18px;
    border: 1px solid var(--bs-disabled-bg);

    .react-select__control--is-disabled {
      background: var(--bs-body-bg) !important;
    }
  }

  @include media-breakpoint-down(sm) {
    .grid-bc {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .form-text {
      font-size: 11px;
      margin-right: 0 !important;
    }
  }
}