@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.my-events-card {
  background: var(--bs-secondary);
  border: none;
  border-radius: 18px;
  padding: 20px;

  .head {
    justify-content: space-between;

    .more {
      cursor: pointer;

      .more-dropdown {
        .btn {
          padding: 0;

          &:active {
            border-color: transparent;
            color: transparent;
          }

          &:hover {
            border-color: transparent;
            color: transparent;

          }

        }
      }
    }
  }

  .chips-row {
    align-items: center;

    svg {
      path {
        fill: var(--bs-body-color);
      }
    }
  }

  .media-link {
    display: block;


    .media-image {
      border-radius: 18px;
      object-fit: cover;
      width: 100%;
      height: 260px;
    }

    .media-image--default {
      border-radius: 18px;
      width: 100%;
      object-fit: contain;
      min-height: 180px;
      background: var(--bs-body-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      height: 260px;

      .image {
        height: 100%;

        img {
          border-radius: 18px;
        }

        span {
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          font-size: 20px;
          font-weight: 700;
          color: var(--bs-description-color);
          padding-left: 4px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .media-image--default {
        height: 90px;
      }
    }
  }

  .description {
    color: var(--bs-body-color);
  }

  .title {
    margin-top: 24px;
  }

  .chips {
    .chips-row {
      align-items: center;
      gap: 8px;

      .chip {
        border-radius: 100px;
        background: var(--bs-tag2-bg);
        color: var(--bs-body-color);
        padding: 6.5px 12px;
      }

      @include media-breakpoint-down(sm) {
        .chip {
          padding: 3px 9px;

          .caption1 {
            font-size: 10px;
          }
        }
      }
    }
  }

  .card-actions {
    margin-top: auto;
  }

  @include media-breakpoint-down(sm) {
    .chips-row {
      margin-top: 0 !important;
    }

    .title {
      margin-top: 20px;
    }
  }

  .caption1 {
    white-space: normal; // Allow text to wrap
    overflow-wrap: break-word; // Ensure long words wrap
    word-wrap: break-word; // Fallback for older browsers\
    font-size: 0.8rem;

    path {
      height: 16px;
      width: 16px;
    }
  }

  .card-actions {

    display: flex;
    gap: 24px;

    .action-item {
      flex: 1;
    }

    .btn-group {
      width: 100%;

      >.r-button:first-child {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .dropdown {
        .r-button {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          padding: 0 15px !important;

          svg>path {
            fill: none !important;
            stroke: var(--bs-primary);
          }
        }
      }

      .dropdown-toggle {
        background: var(--bs-badge-bg);
        color: var(--bs-primary);
      }

      .dropdown-menu.show {
        width: 100%;
        border-radius: 10px;
        background: var(--bs-tertiary-bg);
        min-width: 200px;
        --bs-dropdown-link-hover-bg: var(--bs-body-bg);

        .dropdown-item {
          margin: 0 !important;
          padding: 7px 15px;

          .primary {
            svg {
              path {
                fill: var(--bs-primary);
              }
            }

            .b5 {
              color: var(--bs-primary);
            }
          }
        }
      }
    }

    .r-button {
      min-height: 48px;
      border-radius: 18px;

      svg {
        height: 20px;
        width: 20px;

        path {
          fill: var(--bs-primary);
        }
      }

      &:hover {
        background: var(--bs-badge-bg);
        color: var(--bs-primary);
      }
    }

    .decline-button {
      svg {
        height: 20px;
        width: 20px;

        path {
          fill: var(--bs-danger) !important;
        }
      }

      &:hover {
        background: var(--bs-badge-bg) !important;
        color: var(--bs-danger) !important;
      }
    }

    .r-button.decline-button {
      /* Add any specific overrides for the decline button that also has the r-button class here */
    }
  }

  @include media-breakpoint-down(md) {
    .card-actions {
      gap: 8px;

      .btn-group {
        .dropdown {
          .r-button {
            height: 100%;
            padding-left: 5px !important;
            padding-right: 5px !important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .my-events-card {
    padding: 8px 6px;

    .card-actions {
      .action-item {

        .btn,
        .r-button {
          padding-top: 4px !important;
          padding-bottom: 4px !important;
        }
      }
    }
  }
}
