@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.org-bio-timeline-card-container {
  div.image-placeholder {
    height: 110px !important;

    @include media-breakpoint-down(sm) {
      height: 79px !important;
    }
  }
    .toggle-bio-card-btn {
      color: var(--bs-primary);
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      &:hover, &:focus {
        text-decoration: underline;
        outline: none;
      }
  }
}