.password-strength-feedback {
  .password-strength-bar {
    &:first-child {
      div {
        height: 4px !important;
        border-radius: 8px;
      }
    }
  }

  .password-score-0 {
    color: var(--bs-danger);
    font-weight: 700;
  }

  .password-score-1 {
    color: var(--bs-danger);
    font-weight: 700;
  }

  .password-score-2 {
    color: var(--bs-warning);
    font-weight: 700;
  }

  .password-score-3 {
    color: var(--bs-teal);
    font-weight: 700;
  }

  .password-score-4 {
    color: var(--bs-green);
    font-weight: 700;
  }
}