// event-card-container
.event-card-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  padding-top: 24px;
  overflow: hidden;
  position: relative;
  .card-wrap {
    width: 94%;
    z-index: 30;
    min-width: 200px; //Inorder to shrink the card wrap and no cards are being cut during smallest screen
  }

  .event-card {
    flex: 2;
    padding: 16px;
    background: var(--bs-secondary);
    color: var(--bs-body-color);
    border-radius: 18px;
    z-index: 30;
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
      flex-direction: row-reverse;

      .date {
        color: var(--bs-secondary-text);
      }

      svg {
        path {
          stroke: var(--bs-body-color);
        }
      }
    }

    .body {
      display: flex;
      align-items: flex-start;
      margin-top: 16px;
      gap: 12px;
      padding-bottom: 16px;
      border-bottom: 0.5px solid var(--bs-border-color);
      position: relative;

      .image {
        width: 116px;
        height: 42px;
        border-radius: 8px;
      }

      .informative {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .description {
          color: var(--bs-body-color);
        }

        .location, .co-owner {
          color: var(--bs-secondary-text);
        }

        .co-owner-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .slider-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;
            z-index: 1;

            .arrow {
              cursor: pointer;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: var(--bs-slider-bg);
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                height: 15px;
                width: 15px;
              }
            }
          }
        }
      }
    }

    .footer {
      padding-top: 24px;
      width: 100%;

      .post-slider {
        cursor: grab;
        display: flex;
        gap: 20px;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
          display: none;  /* Safari and Chrome */
        }
      }
    }
  }

  .link {
    color: inherit;
    z-index: 1;
    position: relative;
  }
}