// .spinner{
//   margin: 0px !important;
//   width: 37px;
//   height: 24px;
//   > div{
//       width: 4px;
//   }
// }

.sweet-loading {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}