@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.modal-body {
  &:has(.resizable-timeline) {
    container-name: rtimeline;
    container-type: inline-size;
  }
}

.resizable-timeline {
  display: flex;

  .drag-indicator {
    position: absolute;
    width: 3px;
    min-height: 100%;
    background-color: var(--bs-body-bg);
    cursor: ew-resize;
    z-index: 999;
  }
  
  .left-column {
    position: sticky;
    top: 0;
    height: 90vh;
    z-index: 99;
    background: var(--bs-body-bg);
  }

  .right-column {
    flex: 1;
  }

  @include media-breakpoint-down(xl) { // tablet
    display: block;

    .left-column {
      width: 100% !important;
      height: unset;
    }

    .right-column {
      width: 100% !important;
    }
  }
}

@container rtimeline (width < 887px) {
  .resizable-timeline {
    display: block;
    width: auto !important;
    margin-left: 0 !important;
    transform: none !important;

    .left-column {
      width: 100% !important;
      height: unset;
    }

    .right-column {
      width: 100% !important;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:has(.timeline-map) {
      .timeline-header-filters {
        top: 430px !important;
      }

      @include media-breakpoint-down(md) {
        .timeline-header-filters {
          top: 258px !important;
        }
      }
    }
  }

  .timeline-map {
    > .map {
      height: 370px !important;
    }
  }

  .location-container {
    > .map, .event-apple-map {
      height: 370px !important;
  
      @include media-breakpoint-down(md) {
        height: 226px !important;
      }
    }
  }
}